<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.edumedia.lach0192.reviewr" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ReviewrEricL</name>
    <description>
        An ios cordova app for writing product reviews.
    </description>
    <author email="lach0192@algonquinlive.com" href="http://www.algonquincollege.com">
        Eric Lachapelle
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-camera" spec="~2.4.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Take picture of item you are writing review for." />
    </plugin>
</widget>
